<!--
<div class="container mx-auto p-4">
    <div class="grid grid-cols-4">
        <div *ngFor="let post of feedData">
          <img data-aos="fade-up" data-aos-duration="1000"
            class="h-auto max-w-full rounded-lg"
            [src]="post.media_url"
            alt=""
          />
        </div>
    </div>
  </div> -->



<!-- <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div *ngFor="let post of feedData">
        <ng-container *ngIf="post.media_type !='VIDEO'">
            <img  class="h-auto max-w-full rounded-lg" [src]="post.media_url" alt="">
        </ng-container>
        <ng-container *ngIf="post.media_type =='VIDEO'">
        <video style="height: 395px; width: 395px;" class="rounded-lg" >
            <source  [src]="post.media_url" type="video/mp4">
        </video>

        </ng-container>
    </div>
</div> -->



<!-- <div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
    <button type="button" class="text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800">All categories</button>
    <button type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Shoes</button>
    <button type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Bags</button>
    <button type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Electronics</button>
    <button type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Gaming</button>
</div> -->
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div *ngFor="let post of feedData">
        <ng-container *ngIf="post.media_type !='VIDEO'">
            <img style="" class="max-w-full rounded-lg" [src]="post.media_url" alt="" alt="">
        </ng-container>

        <!-- <img  *ngIf="post.media_type =='VIDEO'" class="max-w-full rounded-lg" [src]="post.thumbnail_url" alt="" alt=""> -->
        <!-- <video *ngIf="post.media_type =='VIDEO'" style="height: 395px; width: 395px;" class="rounded-lg" >
            <source  [src]="post.media_url" type="video/mp4">
        </video> -->
    </div>
</div>

<button (click)="loadMore()" type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Load More</button>



