<div class="slider">
    <div>
      <div (click)="goToPrevious()" class="leftArrow">❰</div>
      <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>
    <div
      class="slide"
      [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
      [ngClass]="{ 'fade': isTransitioning }"
    ></div>
    <div class="dotsContainer">
      <div
        *ngFor="let slide of slides; let slideIndex = index"
        class="dot text-green-800"
        (click)="goToSlide(slideIndex)"
      >
        ●
      </div>
    </div>
  </div>
