
    body {
        padding: 0;
        margin: 0;
    }
    .app-logo{
        cursor: pointer;
    }
    .container {
        position: relative;
        // margin-top: 100px;
    }

    #main {
        width: 100%;
        padding: 0;
      }
      .content-asset p {
        margin: 0 auto;
      }
      .breadcrumb {
        display: none;
      }

      /* Helpers */
      /**************************/
      .margin-top-10 {
        padding-top: 10px;
      }
      .margin-bot-10 {
        padding-bottom: 10px;
      }

      /* Typography */
      /**************************/

      nav{
        background-color: transparent;
      }
      section{
        background-color: #fff;
      }
      #parallax-world-of-ugg h1 {
        font-family: "Oswald", sans-serif;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        color: #073812;
        padding: 0;
        margin: 0;
      }
      #parallax-world-of-ugg h2 {
        font-family: "Oswald", sans-serif;
        font-size: 70px;
        letter-spacing: 10px;
        text-align: center;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        z-index: 10;
        opacity: 0.9;
      }
      #parallax-world-of-ugg h3 {
        font-family: "Oswald", sans-serif;
        font-size: 14px;
        line-height: 0;
        font-weight: 400;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: black;
      }
      #parallax-world-of-ugg p {
        font-family: emoji;
        font-weight: 300;
        font-size: 18px;
        // line-height: 39px;
      }
      .first-character {
        font-weight: 400;
        float: left;
        font-size: 84px;
        line-height: 64px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        font-family: "Source Sans Pro", sans-serif;
      }

      .sc {
        color: #3b8595;
      }
      .ny {
        color: #3d3c3a;
      }
      .atw {
        color: #c48660;
      }

      /* Section - Title */
      /**************************/
      #parallax-world-of-ugg .title {
        background: white;
        padding: 60px;
        margin: 0 auto;
        text-align: center;
      }
      #parallax-world-of-ugg .title h1 {
        font-size: 35px;
        letter-spacing: 8px;
      }

      /* Section - Block */
      /**************************/
      #parallax-world-of-ugg .block {
        // background: #fff;
        padding: 60px;
        // width: 820px;
        margin: 0 auto;
        text-align: justify;
      }
      #parallax-world-of-ugg .block-gray {
        background: #f2f2f2;
        padding: 60px;
      }
      #parallax-world-of-ugg .section-overlay-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.7;
      }

      /* Section - Parallax */

      #parallax-world-of-ugg .parallax-two {
        padding-top: 200px;
        padding-bottom: 200px;
        overflow: hidden;
        position: relative;
        width: 100%;
        background-image: url(../../../../assets/images/wall/DC1.JPG);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.5;
      }
      #parallax-world-of-ugg .parallax-three {
        padding-top: 200px;
        padding-bottom: 200px;
        overflow: hidden;
        position: relative;
        width: 100%;
        background-image: url(../../../../assets/images/wall/happiclient.JPG);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-blend-mode: luminosity!important;
        opacity: 0.6;
      }

      #parallax-world-of-ugg .parallax-four {
       padding-top: 200px;
       padding-bottom: 200px;
       overflow: hidden;
       position: relative;
       width: 100%;
       background-image: url(../../../../assets/images/wall/hand.JPG);
    //    background-image: url(../../../../assets/images/wall/hand.JPG);
       background-attachment: fixed;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center center;
       opacity: 0.7;
     }

     #parallax-world-of-ugg .parallax-five {
       padding-top: 200px;
       padding-bottom: 200px;
       overflow: hidden;
       position: relative;
       width: 100%;
       background-image: url(../../../../assets/images/wall/lets-talk.jpeg);
       background-attachment: fixed;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center center;
       opacity: 0.6;
     }

      /* Extras */
      /**************************/
      #parallax-world-of-ugg .line-break {
        border-bottom: 5px solid #073812;
        width: 150px;
        margin: 0 auto;
      }

      /* Media Queries */
      /**************************/
      @media screen and (max-width: 959px) and (min-width: 768px) {
        #parallax-world-of-ugg .block {
          padding: 40px;
          width: 620px;
        }
      }
      @media screen and (max-width: 767px) {
        #parallax-world-of-ugg .block {
          padding: 30px;
          width: 420px;
        }
        #parallax-world-of-ugg h2 {
          font-size: 30px;
        }
        #parallax-world-of-ugg .block {
          padding: 30px;
        }
        #parallax-world-of-ugg .parallax-two,
        #parallax-world-of-ugg .parallax-three {
          /* padding-top: 100px; */
          padding-bottom: 100px;
        }
      }
      @media screen and (max-width: 479px) {
        #parallax-world-of-ugg .block {
          padding: 30px 15px;
          width: 290px;
        }
      }
      .text-heading-center{
        text-align: center;
        font-family: "proxima-nova";
        font-size: 18px;
      }
      p{
        // text-align: center;
      }
      .pt-100{
       /* padding-top: 100px; */
      }
      .block{
    //    background-color: #0005;
      }

      .link-insta{
       padding: 24px;
       border: solid 1px #073812;
       color: rgb#073812;
     }
     .link-insta:hover{
       text-decoration: none;
     }

     .bg-white{
        background-color: #fff;
     }

     .app-color-text{
        color: #073812!important;
     }


.rotate-6deg{
    rotate: 6deg;
}

.rotate--6deg{
    rotate: -6deg;
}

.bg-uniqe{
    background-color: #86403f;
}
.img-shoot{
    width: 450px;
    height: 650px;
}

.heading-title{
    font-size: 18px!important;
    font-style: italic!important;
    letter-spacing: 1px!important;
    font-family: "Cormorant"!important;
    font-weight: 400!important;
}

.heading-img{
    height: 75px;
    width: 400px;
}
.border-width-23{
    border-width: 23px;
}
.content-text{
font-family: "JosefinSans";
font-weight: 300;
}
@media screen and (max-width: 767px){
    .border-width-23{
        border-width: 6px;
    }
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../../../../assets/fonts/inter/JosefinSans.ttf');
  }

  @font-face {
    font-family: 'kristi';
    src: url('../../../../assets/fonts/inter/Kristi-Regular.ttf');
  }

  .content-heading{
    font-family: 'kristi';
    color: #e47186;
    font-weight: 200;
    font-size: 38px;
  }

  .about-founder{
    font-family: 'kristi';
    color: #e47186;
    font-weight: 200;
    font-size: 38px;
  }

