<div class="flex-auto w-full">

    <section>
        <div id="parallax-world-of-ugg">

            <section>
                <div class="md:p-12 p-2">

                    <!-- <h4 class="text-heading-center">Welcome to <span class="app-color-text">Madhuram</span>
                        <span>
                            Events
                        </span>
                    </h4> -->

                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 pt-12">
                        <div
                            class="shadow-2xl md:p-12 p-4 shadow-green-500/50 transition duration-700 ease-in-out mb-6">
                            <p data-aos="fade-up" data-aos-duration="1000" [@fadeInUp]
                                class="text-justify text-black-600 md:text-lg text-sm leading-5">
                                Your Premier Event Decoration Service! Make your special moments even
                                more memorable with our expert event decoration services. Whether it's
                                a wedding, birthday, or any other occasion, we have the perfect touch
                                to transform your event into a dream come true. With our attention to
                                detail, creativity, and dedication, we strive to make every
                                celebration truly extraordinary. Explore our services and let us help
                                you create magical memories that will last a lifetime.
                            </p>
                            <p data-aos="fade-up" data-aos-duration="1000" class="line-break margin-top-10"></p>
                            <p data-aos="fade-up" data-aos-duration="1000" [@fadeInUp]
                                class="margin-top-10 text-justify text-black-600 md:text-lg text-sm leading-5">
                                Make your wedding day a reflection of your unique love story with our
                                exquisite wedding decorations. From stunning floral arrangements to
                                elegant backdrops, we'll bring your vision to life. Our team of
                                skilled professionals will work closely with you to create a
                                personalized ambiance that perfectly captures the essence of your
                                love. Let us handle the details while you focus on cherishing every
                                moment of your special day.
                            </p>
                        </div>
                        <div style="display: flex;
                        justify-content: center;
                        align-items: center;
                        height: auto">
                            <figure data-aos="fade-up" data-aos-duration="1000">
                                <img class="rounded shadow-2xl inline-block sm:h-100 sm:w-70 h-auto w-auto"
                                    src="../../../../assets/images/owner/face5.JPG" alt="">
                                <figcaption class="text-center text-black text-xl">Founder</figcaption>
                            </figure>

                        </div>

                    </div>

                    <div class="grid grid-cols-1 sm:pt-12">
                        <p data-aos="fade-up" data-aos-duration="1000" [@fadeInUp]
                            class="margin-top-10 text-justify text-black-600 md:text-lg text-sm leading-5">
                            Make your wedding day a reflection of your unique love story with our
                            exquisite wedding decorations. From stunning floral arrangements to
                            elegant backdrops, we'll bring your vision to life. Our team of
                            skilled professionals will work closely with you to create a
                            personalized ambiance that perfectly captures the essence of your
                            love. Let us handle the details while you focus on cherishing every
                            moment of your special day.
                        </p>
                    </div>

                </div>

            </section>

            <section class="pt-100">
                <div class="parallax-two">
                    <h2 data-aos="fade-up" data-aos-duration="3000">Reception</h2>
                </div>
            </section>

            <section>
                <div class="md:p-12 p-2">

                    <div class="grid grid-cols-1 md:grid-cols-1 gap-4">

                        <div class="">
                            <!-- <p [@fadeInUp] class="text-justify text-black-600 md:text-lg text-sm" style="transform: scale(1.1);">
                                Celebrate another year of life with a birthday bash that leaves
                                everyone in awe. Our talented team knows how to turn any space into a
                                captivating and joyous environment. Whether it's a milestone birthday
                                or a themed celebration, we'll design an unforgettable experience
                                tailored to your preferences. From vibrant balloon displays to
                                delightful centerpieces, our birthday decorations will create memories
                                that will be cherished for years to come.
                            </p>
                            <p class="line-break margin-top-10"></p>
                            <p [@fadeInUp] class="text-justify text-black-600 md:text-lg text-sm" style="transform: scale(1.1);">
                                At Madhuram Event, we believe that every event is a canvas waiting to be adorned
                                with beauty
                                and style.
                                We are your trusted partners in transforming ordinary gatherings into extraordinary
                                experiences.
                                With a passion for artistry and a keen eye for detail, we specialize in creating
                                enchanting and memorable event decorations that reflect your unique vision.
                            </p> -->
                            <!-- <img data-aos="flip-left" data-aos-duration="2000" class="" src="../../../../assets/images/others/ramya-white.jpg" loading="lazy" /> -->
                            <div class="container my-1 mx-auto md:px-6">
                                <section class="mb-32">
                                    <div class="flex flex-wrap">
                                        <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
                                            <div class="flex lg:py-12">
                                                <img src="../../../../assets/images/others/ramya-white.jpg"
                                                    class="z-[10] w-full rounded-lg shadow-lg dark:shadow-black/20 lg:ml-[50px]"
                                                    alt="image" />
                                            </div>
                                        </div>

                                        <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12">
                                            <div
                                                class="flex h-full items-center rounded-lg bg-yellow-600 p-6 text-center text-white lg:pl-12 lg:text-left">
                                                <div class="lg:pl-12">
                                                    <h2 class="mb-8 text-3xl font-bold">Let it surprise you</h2>
                                                    <p class="mb-8 pb-2 lg:pb-0">
                                                        At Madhuram Event, we believe that every event is a canvas
                                                        waiting to be adorned
                                                        with beauty
                                                        and style.
                                                        We are your trusted partners in transforming ordinary gatherings
                                                        into extraordinary
                                                        experiences.
                                                        With a passion for artistry and a keen eye for detail, we
                                                        specialize in creating
                                                        enchanting and memorable event decorations that reflect your
                                                        unique vision.
                                                    </p>

                                                    <div
                                                        class="mx-auto mb-8 flex flex-col md:flex-row md:justify-around xl:justify-start">
                                                        <p
                                                            class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 xl:mr-20">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="mr-2 h-5 w-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                            </svg>
                                                            Best team
                                                        </p>

                                                        <p
                                                            class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 xl:mr-20">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="mr-2 h-5 w-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                            </svg>
                                                            Best quality
                                                        </p>

                                                        <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="mr-2 h-5 w-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                            </svg>
                                                            Best experience
                                                        </p>
                                                    </div>

                                                    <p>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- Section: Design Block -->
                            </div>
                        </div>
                        <!-- IGQWRPd0pMVElTR0lIbVpFQmNoeXIzSGxWQ0otYkJwdHJnb0lFSWdQbHdsaFYybnNpcXpGbjZACNzhTTTFKZA3VYaTdQOGZAEeGE5M28tWHZAVYklWdFdCbVk5bENCYlhTbGk5U2tVQm1RTDN2RFR4a0JLRVBoTXNBTXMZD -->
                        <!-- Container for demo purpose -->
<div class="container my-1 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center lg:text-left">
      <div class="py-12 md:px-6 md:px-12">
        <div class="container mx-auto xl:px-32">
          <div class="flex grid items-center lg:grid-cols-2">
            <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
              <div
                class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[25px] dark:bg-[hsla(0,0%,5%,0.7)] dark:shadow-black/20 md:px-12 lg:-mr-14">
                <h2 class="mb-2 text-3xl font-bold text-primary dark:text-primary-400">
                  Anna Doe
                </h2>
                <p class="mb-4 font-semibold">Graphic designer</p>
                <p class="mb-6 text-neutral-500 dark:text-neutral-300">
                  Nunc tincidunt vulputate elit. Mauris varius purus malesuada
                  neque iaculis malesuada. Aenean gravida magna orci, non
                  efficitur est porta id. Donec magna diam.
                </p>
                <p class="mb-6 text-neutral-500 dark:text-neutral-300">
                  Ad, at blanditiis quaerat laborum officia incidunt
                  cupiditate dignissimos voluptates eius aliquid minus
                  praesentium! Perferendis et totam ipsum ex aut earum libero
                  accusamus voluptas quod numquam saepe, consequuntur nihil
                  quia tenetur consequatur. Quis, explicabo deserunt quasi
                  assumenda ea maiores nulla, et dolor saepe praesentium natus
                  error reiciendis voluptas iste. Esse, laudantium ipsum
                  animi, quos voluptatibus atque vero repellat sit eligendi
                  autem maiores quasi cum aperiam. Aperiam rerum culpa
                  accusantium, ducimus deserunt aliquid alias vitae quasi
                  corporis placeat vel maiores explicabo commodi!
                </p>
                <ul class="flex justify-center lg:justify-start">
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                      class="w-5 text-primary dark:text-primary-400">
                      <path fill="currentColor"
                        d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                    </svg>
                  </li>
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                      class="w-5 text-primary dark:text-primary-400">
                      <path fill="currentColor"
                        d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                    </svg>
                  </li>
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                      class="w-5 text-primary dark:text-primary-400">
                      <path fill="currentColor"
                        d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                    </svg>
                  </li>
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                      class="w-5 text-primary dark:text-primary-400">
                      <path fill="currentColor"
                        d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                    </svg>
                  </li>
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                      class="w-5 text-primary dark:text-primary-400">
                      <path fill="currentColor"
                        d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
            <div class="md:mb-12 lg:mb-0">
              <img src="../../../../assets/images/others/ramya-anu.jpg"
                class="rotate-6deg w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
                    </div>
                </div>
            </section>

            <section>
                <!-- Container for demo purpose -->
                <!-- Container for demo purpose -->

                <!-- Mathu -->
<div class="container my-1 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <!-- Jumbotron -->
      <div class="container mx-auto text-center lg:text-left xl:px-32">
        <div class="flex grid items-center lg:grid-cols-2">
          <div class="mb-12 lg:mb-0">
            <div
              class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
              <h2 class="mb-8 text-3xl font-bold">Enjoy the moment</h2>
              <p class="mb-8 pb-2 text-neutral-500 dark:text-neutral-300 lg:pb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                soluta corporis voluptate ab error quam dolores doloremque,
                quae consectetur.
              </p>

              <div class="mx-auto mb-8 flex flex-col md:flex-row md:justify-around lg:justify-between">
                <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="mr-2 h-5 w-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  Best team
                </p>

                <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="mr-2 h-5 w-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  Best quality
                </p>

                <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="mr-2 h-5 w-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  Best experience
                </p>
              </div>

              <p class="mb-0 text-neutral-500 dark:text-neutral-300">
                In ac turpis justo. Vivamus auctor quam vitae odio feugiat
                pulvinar. Sed semper ligula sed lorem tincidunt dignissim. Nam
                sed cursus lectus. Proin non rutrum magna. Proin gravida,
                justo et imperdiet tristique, turpis nisi viverra est, nec
                posuere ex arcu sit amet erat. Sed a dictum sem. Duis pretium
                condimentum nulla, ut aliquet erat auctor sed. Aenean
                facilisis neque id ligula maximus scelerisque. Nunc sed velit
                rhoncus, interdum dolor at, lacinia lacus. Proin eleifend
                viverra posuere. Ut commodo risus lacus, ac scelerisque quam
                aliquam dictum. Etiam dignissim pulvinar eros eget auctor.
                Quisque congue turpis quis libero ullamcorper imperdiet.
                Vivamus a orci maximus, dignissim ligula a, congue dui. Morbi
                et lectus sit amet neque luctus viverra.
              </p>
            </div>
          </div>

          <div>
            <img src="../../../../assets/images/others/ramya-mathu.jpeg"
              class=" rotate--6deg w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
                <!-- Container for demo purpose -->
                <!-- <div class="md:p-12 p-2">

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="..." data-aos="fade-up" data-aos-duration="2000">
                            <img data-aos="fade-up" data-aos-duration="5000" class="" src="../../../../assets/images/others/ramya-mathu.jpeg" loading="lazy" />
                        </div>
                        <div class="shadow-2xl p-12" data-aos="fade-up" data-aos-duration="1000">
                            <p [@fadeInUp] class="text-justify text-black-600 md:text-lg text-sm" style="transform: scale(1.1);">
                                Celebrate another year of life with a birthday bash that leaves
                                everyone in awe. Our talented team knows how to turn any space into a
                                captivating and joyous environment. Whether it's a milestone birthday
                                or a themed celebration, we'll design an unforgettable experience
                                tailored to your preferences. From vibrant balloon displays to
                                delightful centerpieces, our birthday decorations will create memories
                                that will be cherished for years to come.
                            </p>
                            <p class="line-break margin-top-10"></p>
                            <p [@fadeInUp] class="text-justify text-black-600 md:text-lg text-sm" style="transform: scale(1.1);">
                                At Madhuram Event, we believe that every event is a canvas waiting to be adorned
                                with beauty
                                and style.
                                We are your trusted partners in transforming ordinary gatherings into extraordinary
                                experiences.
                                With a passion for artistry and a keen eye for detail, we specialize in creating
                                enchanting and memorable event decorations that reflect your unique vision.
                            </p>
                        </div>
                    </div>
                </div> -->
            </section>



            <section>
                <div class="parallax-three">
                    <h2>Happy Clients</h2>
                </div>
            </section>

            <!-- <section>
                <div class="md:p-12 p-2">

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4" >
                        <div class="shadow-2xl md:p-12 p-4">
                            <p class="text-justify md:text-lg text-sm" data-aos="fade-up" data-aos-duration="2000">
                                From baby showers to anniversary parties, our event decorations will
                                add a touch of magic to your social gatherings. We understand the
                                importance of these milestones in your life, and our dedicated team
                                will ensure every detail is flawlessly executed. With our expertise in
                                creating thematic decor and beautiful floral arrangements, we'll
                                create an ambiance that captures the essence of your celebration and
                                makes it truly unforgettable.
                            </p>
                            <p class="line-break margin-top-10"></p>
                            <p class="margin-top-10 text-justify text-black-600 md:text-lg text-sm" data-aos="fade-up" data-aos-duration="1000">
                                Take a glimpse into our world of creativity and imagination through
                                our gallery. Browse through our collection of past events and be
                                inspired by the stunning decorations we've crafted. See how we've
                                transformed venues into enchanting spaces filled with beauty and
                                elegance. Our gallery showcases the diverse range of events we've
                                worked on, giving you a taste of what we can create for your special
                                day.
                            </p>
                        </div>
                        <div class="...">

                        </div>
                    </div>


                </div>
            </section> -->

            <section>
                <div class="parallax-four">
                    <h2>Hindu Wedding</h2>
                </div>
            </section>

            <section>
                <div class="md:p-12 p-4 shadow-2xl">
                    <p class="margin-top-10 text-justify text-black-600 md:text-lg text-sm" data-aos="fade-up"
                        data-aos-duration="1000">
                        Take a glimpse into our world of creativity and imagination through
                        our gallery. Browse through our collection of past events and be
                        inspired by the stunning decorations we've crafted. See how we've
                        transformed venues into enchanting spaces filled with beauty and
                        elegance. Our gallery showcases the diverse range of events we've
                        worked on, giving you a taste of what we can create for your special
                        day.
                    </p>
                </div>
            </section>

            <section>
                <div class="parallax-five">
                    <h2 data-aos="fade-up" data-aos-duration="1000">Late's Talk</h2>
                </div>
            </section>

            <section>
                <div class="md:p-12 p-4">
                    <p class="margin-top-10 text-justify text-black-600 md:text-lg text-sm" data-aos="fade-up"
                        data-aos-duration="1000">
                        Take a glimpse into our world of creativity and imagination through
                        our gallery. Browse through our collection of past events and be
                        inspired by the stunning decorations we've crafted. See how we've
                        transformed venues into enchanting spaces filled with beauty and
                        elegance. Our gallery showcases the diverse range of events we've
                        worked on, giving you a taste of what we can create for your special
                        day.
                    </p>
                </div>
            </section>

        </div>
    </section>
</div>
