<div class="flex-auto w-full">

    <section>
        <div id="parallax-world-of-ugg">

            <!-- main header -->
            <section>
                <div class="container mx-auto px-4">
                    <div class="grid grid-rows-1 grid-flow-col gap-4 pt-24 pb-24">
                        <div class="text-center">
                            <h1 class="heading">
                                WE ARE A WEDDING AGENCY YOUR WILDEST DREAMS FACTORY
                            </h1>
                            <div class="justify-center flex">
                                <img class="heading-img" src="../../../../assets//images/wall/green-shape.png" />
                            </div>
                            <p class="heading-title" style="color: black;">
                                Your right hand and best friend at every step to the unforgettable wedding.
                            </p>
                        </div>
                    </div>

                </div>
            </section>

            <!-- custom try -->
            <div class="grid grid-cols-1 md:grid-cols-2 md:mr-24 md:ml-24 mt-6 mr-6 ml-6">
                <div>
                    <div class="content-heading">
                        Captivating Bridal Photo Shoots
                    </div>
                    <div data-aos="fade-up" data-aos-duration="2000"
                        class="content-text border-solid border-width-23  border-green-800 h-72 text-justify w-full">
                        <div class="mt-4 mr-4 ml-4 md:mt-12 md:mr-12 md:ml-12">
                            Elevate your special moments with our bespoke event planning service. Experience enchanting
                            bridal photo shoots adorned with our unique and custom decorations. Let us craft a
                            picture-perfect setting, tailored to your dreams.
                        </div>
                    </div>
                </div>
                <div class="md:-ml-10 -mt-20 md:-mt-0 justify-center flex md:block">
                    <img data-aos="fade-up" data-aos-duration="3000" loading="lazy" alt="..."
                        class="md:max-w-full w-80 md:w-full shadow-lg"
                        src="../../../../assets/images/about-us/ramya-white.jpg" />
                </div>

            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 md:mt-24 md:mr-24 md:ml-24 mt-6 mr-6 ml-6">
                <div>
                    <div class="content-heading">
                        Unveiling Timeless Elegance
                    </div>
                    <div class="w-full justify-center flex md:block">
                        <img data-aos="fade-up" data-aos-duration="3000" loading="lazy" alt="..."
                            class="md:max-w-full w-80 md:w-full shadow-lg"
                            src="../../../../assets/images/about-us/ramya-anu.jpg" />
                    </div>
                </div>

                <div
                    class="content-text border-solid border-width-23 border-green-800 h-72 text-justify md:-ml-20 -mt-20 md:-mt-0">
                    <div class="mt-24 mr-4 ml-4 md:mt-12 md:mr-12 md:ml-16">
                        Envision your bridal photo shoot in a world of timeless elegance. Our custom-designed decor adds
                        a touch of individuality to every frame, ensuring your photos exude unique beauty. Trust us to
                        create an unforgettable setting for your treasured moments.
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 md:mt-24 md:mr-24 md:ml-24 mt-6 mr-6 ml-6">
                <div>
                    <div class="content-heading">
                        Embark on a Safari Adventure
                    </div>
                    <div data-aos="fade-up" data-aos-duration="2000"
                        class="content-text border-solid border-width-23  border-green-800 h-72 text-justify w-full">
                        <div class="mt-4 mr-4 ml-4 md:mt-12 md:mr-12 md:ml-12">
                            Immerse yourself in a wild and whimsical safari-themed balloon decoration experience. From
                            towering palm trees to playful animal creations, let us transform your event into an exotic
                            safari escape. Explore a jungle of creativity with our unique balloon designs.
                        </div>
                    </div>
                </div>
                <div class="md:-ml-10 -mt-20 md:-mt-0 justify-center flex md:block">
                    <img data-aos="fade-up" data-aos-duration="3000" loading="lazy" alt="..."
                        class="md:max-w-full w-80 md:w-full shadow-lg"
                        src="../../../../assets/images/about-us/safari.jpeg" />
                </div>

            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 md:mt-24 md:mr-24 md:ml-24 mt-6 mr-6 ml-6">
                <div>
                    <div class="content-heading">
                        Bridal Bliss Brought to Life
                    </div>
                    <div class="w-full justify-center flex md:block">
                        <img data-aos="fade-up" data-aos-duration="3000" loading="lazy" alt="..."
                            class="md:max-w-full w-80 md:w-full shadow-lg"
                            src="../../../../assets/images/about-us/ramyahindi.jpg" />
                    </div>
                </div>

                <div
                    class="content-text border-solid border-width-23 border-green-800 h-72 text-justify md:-ml-20 -mt-20 md:-mt-0">
                    <div class="mt-24 mr-4 ml-4 md:mt-12 md:mr-12 md:ml-16">
                        Step into a world of bridal bliss with our exclusive event planning expertise. From exquisite
                        decorations to personalized touches, we orchestrate a captivating photo shoot experience. Let us
                        transform your visions into reality, creating memories that last a lifetime.
                    </div>
                </div>
            </div>




            <!-- About the Founder  -->

            <div class="grid grid-cols-1 md:grid-cols-1 md:mr-24 md:ml-24 mt-24 mr-6 ml-6">

                <div class="about-us about-founder text-center">
                    About the Founder
                </div>
                <div class="items-center flex flex-wrap">
                    <div class="w-full md:w-4/12 mr-auto px-4 pb-6" data-aos="fade-up">
                        <img loading="lazy" alt="..." class="max-w-full rounded-lg shadow-lg"
                            src="../../../../assets/images/owner/face5.JPG" />
                    </div>
                    <div class="w-full md:w-5/12 ml-auto px-4 pb-6">
                        <div class="" data-aos="fade-up">
                            <h4 class="text-3xl text-center font-semibold">Paviththira Shantharoopan</h4>
                            <p class="mt-4 text-lg leading-relaxed text-gray-600 text-justify">

                                With a background in Information Technology and an unwavering passion for design, I
                                embarked on a journey to create exceptional experiences, leading to the
                                establishment of MAdhuram Event. As the Founder, I bring my unique blend of
                                technical expertise and creative flair to transform ordinary spaces into
                                extraordinary settings, breathing life into your special events.
                            </p>

                        </div>
                    </div>
                </div>

            </div>
            <!--
            <section>
                <div class="md:p-12 p-2">
                    <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
                        <div class="">
                            <div class="container my-1 mx-auto md:px-6">
                                <section class="mb-32">
                                    <div class="container mx-auto text-center lg:text-left xl:px-32">
                                        <div class="flex grid grid-cols-2 items-center lg:grid-cols-2">
                                            <div class="mb-12 lg:mb-0">
                                                <div data-aos="fade-up" data-aos-duration="2500"
                                                    class="text-white p-30 bg-app relative z-[1] block rounded-lg px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:px-12 lg:-mr-14">
                                                    <h2 class="mb-8 text-3xl font-bold">Enjoy the moment</h2>
                                                    <p
                                                        class=" text-white mb-8 pb-2 text-neutral-500 dark:text-neutral-300 lg:pb-0">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                                                        soluta corporis voluptate ab error quam dolores doloremque,
                                                        quae consectetur.
                                                    </p>
                                                    <div
                                                        class="mx-auto mb-8 flex flex-col md:flex-row md:justify-around lg:justify-between">
                                                        <p
                                                            class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="mr-2 h-5 w-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                            </svg>
                                                            Best team
                                                        </p>

                                                        <p
                                                            class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="mr-2 h-5 w-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                            </svg>
                                                            Best quality
                                                        </p>

                                                        <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="2"
                                                                stroke="currentColor" class="mr-2 h-5 w-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                            </svg>
                                                            Best experience
                                                        </p>
                                                    </div>

                                                    <p class="mb-0 text-neutral-500 dark:text-neutral-300">
                                                        In ac turpis justo. Vivamus auctor quam vitae odio feugiat
                                                        pulvinar. Sed semper ligula sed lorem tincidunt dignissim. Nam
                                                        sed cursus lectus. Proin non rutrum magna. Proin gravida,
                                                        justo et imperdiet tristique, turpis nisi viverra est, nec
                                                        posuere ex arcu sit amet erat. Sed a dictum sem. Duis pretium
                                                        condimentum nulla, ut aliquet erat auctor sed. Aenean
                                                        facilisis neque id ligula maximus scelerisque. Nunc sed velit
                                                        rhoncus, interdum dolor at, lacinia lacus. Proin eleifend
                                                        viverra posuere. Ut commodo risus lacus, ac scelerisque quam
                                                        aliquam dictum. Etiam dignissim pulvinar eros eget auctor.
                                                        Quisque congue turpis quis libero ullamcorper imperdiet.
                                                        Vivamus a orci maximus, dignissim ligula a, congue dui. Morbi
                                                        et lectus sit amet neque luctus viverra.
                                                    </p>
                                                </div>
                                            </div>

                                            <div>
                                                <img data-aos="fade-up" data-aos-duration="1500"
                                                    src="../../../../assets/images/others/ramya-white.jpg"
                                                    class="img-shoot rotate--6deg rounded-lg shadow-lg dark:shadow-black/20"
                                                    alt="image" />
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="container my-1 mx-auto md:px-6">
                            <section class="mb-32 text-center lg:text-left">
                                <div class="py-12 md:px-6 md:px-12">
                                    <div class="container mx-auto xl:px-32">
                                        <div class="flex grid items-center lg:grid-cols-2">
                                            <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
                                                <div data-aos="fade-up" data-aos-duration="2500"
                                                    class=" text-white bg-app relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[25px] dark:bg-[hsla(0,0%,5%,0.7)] dark:shadow-black/20 md:px-12 lg:-mr-14">
                                                    <h2
                                                        class="mb-2 text-3xl font-bold text-primary dark:text-primary-400">
                                                        Anna Doe
                                                    </h2>
                                                    <p class="mb-4 font-semibold">Graphic designer</p>
                                                    <p class="mb-6 text-neutral-500 dark:text-neutral-300">
                                                        Nunc tincidunt vulputate elit. Mauris varius purus malesuada
                                                        neque iaculis malesuada. Aenean gravida magna orci, non
                                                        efficitur est porta id. Donec magna diam.
                                                    </p>
                                                    <p class="mb-6 text-neutral-500 dark:text-neutral-300">
                                                        Ad, at blanditiis quaerat laborum officia incidunt
                                                        cupiditate dignissimos voluptates eius aliquid minus
                                                        praesentium! Perferendis et totam ipsum ex aut earum libero
                                                        accusamus voluptas quod numquam saepe, consequuntur nihil
                                                        quia tenetur consequatur. Quis, explicabo deserunt quasi
                                                        assumenda ea maiores nulla, et dolor saepe praesentium natus
                                                        error reiciendis voluptas iste. Esse, laudantium ipsum
                                                        animi, quos voluptatibus atque vero repellat sit eligendi
                                                        autem maiores quasi cum aperiam. Aperiam rerum culpa
                                                        accusantium, ducimus deserunt aliquid alias vitae quasi
                                                        corporis placeat vel maiores explicabo commodi!
                                                    </p>
                                                    <ul class="flex justify-center lg:justify-start">
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 96 960 960"
                                                                class="w-5 text-primary dark:text-primary-400">
                                                                <path fill="currentColor"
                                                                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 96 960 960"
                                                                class="w-5 text-primary dark:text-primary-400">
                                                                <path fill="currentColor"
                                                                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 96 960 960"
                                                                class="w-5 text-primary dark:text-primary-400">
                                                                <path fill="currentColor"
                                                                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 96 960 960"
                                                                class="w-5 text-primary dark:text-primary-400">
                                                                <path fill="currentColor"
                                                                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 96 960 960"
                                                                class="w-5 text-primary dark:text-primary-400">
                                                                <path fill="currentColor"
                                                                    d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                                                            </svg>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="md:mb-12 lg:mb-0">
                                                <img data-aos="fade-up" data-aos-duration="2500"
                                                    src="../../../../assets/images/others/ramya-anu.jpg"
                                                    class="rotate-6deg rounded-lg shadow-lg dark:shadow-black/20"
                                                    alt="image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container my-1 mx-auto md:px-6">
                    <section class="mb-32">
                        <div class="container mx-auto text-center lg:text-left xl:px-32">
                            <div class="flex grid items-center lg:grid-cols-2">
                                <div class="mb-12 lg:mb-0 ">
                                    <div data-aos="fade-up" data-aos-duration="2500"
                                        class=" z-1 text-white bg-app relative z-[1] block rounded-lg px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
                                        <h2 class="mb-8 text-3xl font-bold">Enjoy the moment</h2>
                                        <p class="mb-8 pb-2 text-neutral-500 dark:text-neutral-300 lg:pb-0">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                                            soluta corporis voluptate ab error quam dolores doloremque,
                                            quae consectetur.
                                        </p>
                                        <div
                                            class="mx-auto mb-8 flex flex-col md:flex-row md:justify-around lg:justify-between">
                                            <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="2" stroke="currentColor" class="mr-2 h-5 w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                                Best team
                                            </p>

                                            <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="2" stroke="currentColor" class="mr-2 h-5 w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                                Best quality
                                            </p>

                                            <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="2" stroke="currentColor" class="mr-2 h-5 w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                                Best experience
                                            </p>
                                        </div>

                                        <p class="mb-0 text-neutral-500 dark:text-neutral-300">
                                            In ac turpis justo. Vivamus auctor quam vitae odio feugiat
                                            pulvinar. Sed semper ligula sed lorem tincidunt dignissim. Nam
                                            sed cursus lectus. Proin non rutrum magna. Proin gravida,
                                            justo et imperdiet tristique, turpis nisi viverra est, nec
                                            posuere ex arcu sit amet erat. Sed a dictum sem. Duis pretium
                                            condimentum nulla, ut aliquet erat auctor sed. Aenean
                                            facilisis neque id ligula maximus scelerisque. Nunc sed velit
                                            rhoncus, interdum dolor at, lacinia lacus. Proin eleifend
                                            viverra posuere. Ut commodo risus lacus, ac scelerisque quam
                                            aliquam dictum. Etiam dignissim pulvinar eros eget auctor.
                                            Quisque congue turpis quis libero ullamcorper imperdiet.
                                            Vivamus a orci maximus, dignissim ligula a, congue dui. Morbi
                                            et lectus sit amet neque luctus viverra.
                                        </p>
                                    </div>
                                </div>

                                <div>
                                    <img data-aos="fade-up" data-aos-duration="1500"
                                        src="../../../../assets/images/others/ramya-mathu.jpeg"
                                        class=" rotate--6deg rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>

            <section>
                <div class="parallax-three">
                    <h2>Happy Clients</h2>
                </div>
            </section>

            <section>
                <div class="parallax-four">
                    <h2>Hindu Wedding</h2>
                </div>
            </section>

            <section>
                <div class="md:p-12 p-4 shadow-2xl">
                    <p class="margin-top-10 text-justify text-black-600 md:text-lg text-sm" data-aos="fade-up"
                        data-aos-duration="1000">
                        Take a glimpse into our world of creativity and imagination through
                        our gallery. Browse through our collection of past events and be
                        inspired by the stunning decorations we've crafted. See how we've
                        transformed venues into enchanting spaces filled with beauty and
                        elegance. Our gallery showcases the diverse range of events we've
                        worked on, giving you a taste of what we can create for your special
                        day.
                    </p>
                </div>
            </section>

            <section>
                <div class="parallax-five">
                    <h2 data-aos="fade-up" data-aos-duration="1000">Late's Talk</h2>
                </div>
            </section>

            <section>
                <div class="md:p-12 p-4">
                    <p class="margin-top-10 text-justify text-black-600 md:text-lg text-sm" data-aos="fade-up"
                        data-aos-duration="1000">
                        Take a glimpse into our world of creativity and imagination through
                        our gallery. Browse through our collection of past events and be
                        inspired by the stunning decorations we've crafted. See how we've
                        transformed venues into enchanting spaces filled with beauty and
                        elegance. Our gallery showcases the diverse range of events we've
                        worked on, giving you a taste of what we can create for your special
                        day.
                    </p>
                </div>
            </section> -->

        </div>
    </section>

</div>
