<!-- component -->
<div class="flex items-end w-full bg-white">


    <footer class="w-full text-gray-700 bg-gray-100 body-font">
        <div class="bg-app">
            <div class="container px-5 py-4 mx-auto ">
                <p class="text-md text-center text-white capitalize xl:text-center">© {{currentYear}} All rights reserved Madhuram Event</p>
                <p class="text-md text-center text-white capitalize xl:text-center">Design and Developed By
                    <a href='{{linkedIn}}' target="_blank">
                      <u>Dilaksanraj</u>
                    </a>
                </p>
            </div>
        </div>
    </footer>

</div>
