<div class="grid grid-cols-1 md:grid-cols-1 md:mr-24 md:mb-24 md:ml-24 mt-24 mr-6 ml-6">

    <div class="about-us about-founder text-center">
        About the Founder
    </div>
    <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 m-auto px-4" data-aos="fade-up">
            <img loading="lazy" alt="..." class="max-w-full rounded-full shadow-lg"
                src="../../../../assets/images/contact-us/contact1.JPG" />
            <div class="text-center">
                <p class="contact-info">
                    contact info
                </p>
                <p>
                    <mat-icon>email</mat-icon>
                    madhuramevent@gmail.com
                </p>
                <p>
                    <mat-icon> phone</mat-icon>
                    0769737995
                </p>
            </div>
        </div>
        <div class="w-full md:w-4/12 m-auto px-4" data-aos="fade-up">
            <img loading="lazy" alt="..." class="max-w-full rounded-full shadow-lg"
                src="../../../../assets/images/contact-us/contact2.JPG" />

            <div class="text-center">
                <p class="contact-info">
                    contact info
                </p>
                <p>
                    <mat-icon>email</mat-icon>
                    madhuramevent@gmail.com
                </p>
                <p>
                    <mat-icon> phone</mat-icon>
                    0769737995
                </p>
            </div>
        </div>
    </div>

</div>
