
@font-face {
    font-family: 'kristi';
    src: url('../../../../assets/fonts/inter/Kristi-Regular.ttf');
  }
  .contact-info{
    font-family: 'Cormorant';
    color: #e47186;
    font-weight: 200;
    font-size: 28px;
    text-transform: uppercase;
  }

  .contact-left{
    padding-right: 60px;
    text-align: right;
    justify-content: right;
    display: flex;
  }

  .contact-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
