<!-- component -->
<!-- component -->
<div class="bg-gray-100 flex items-center justify-center py-24">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6" data-aos="fade-up" data-aos-duration="1000">

        <!-- project card -->
        <div class="bg-white rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
            #myDivToDetect>
            <div class="p-1 bg-app">
            </div>
            <div class="p-8 text-center" data-aos="fade-up" data-aos-duration="1000" #myDivToDetect>
                <h2 class=" mb-4">Project Completed</h2>

                <p class="count mb-6 text-center">{{projectcount}}</p>
            </div>

        </div>

        <!-- No of Clients -->
        <div class="bg-white rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105">
            <div class="p-1 bg-app">
            </div>
            <div class="p-8" data-aos="fade-up" data-aos-duration="1000">
                <h2 class=" mb-4 text-center">No of Clients</h2>
                <p class="count mb-6 text-center">{{clientcount}}</p>
            </div>
        </div>

        <!-- Pricing Card 3 -->
        <div class="bg-white rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105">
            <div class="p-1 bg-app">
            </div>
            <div class="p-8" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="mb-4 text-center ">No of years</h2>
                <p class="count mb-6 text-center">{{noOfYearCount}}</p>

            </div>

        </div>
    </div>
