<div (scroll)="onScroll($event)" id="app-home-main" class="flex-auto w-full">


    <!-- <div style="background-color: #f1f5f9;"  class="mx-6 mb-24 bg-gray-100 h-40 md:h-96">
        <image-slider [slides]="slides"></image-slider>
      </div> -->

    <section id="mainImg" class="img-custom bg-center bg-no-repeat bg-gray-700">
        <div class="px-4 mx-auto max-w-screen-xl text-center py-56 lg:py-56">
            <!-- <div class="main-center-text mt-300">
                <span>{{ heading }} </span>
                <span class="heading-text-role" data-aos="fade-up"
                data-aos-duration="1500">
                    {{ getCurrentRole() }}
                </span>
            </div> -->
        </div>
    </section>
    <section class="img-color bg-blend-luminosity">
        <div class="px-4 mx-auto max-w-screen-xl text-center py-56 lg:py-56">
            <div class="main-center-text">
                <span>
                    <b>...FOR THOSE WHO ARE NOT AFRAID!
                    </b>
                </span>
            </div>
        </div>
    </section>

</div>
