<div class="bg-white pb-24 sm:pb-32">


    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-1 text-center">

        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl pt-6 pb-24 app-color-text font-cursive">Meet our Team</h2>


    </div>
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-1">
      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-4 sm:gap-y-16 xl:col-span-2">
        <li data-aos="fade-up" data-aos-duration="1000">
          <div class=" items-center gap-x-6 text-center">
            <img class=" inline h-50 w-40 rounded-full" src="../../../../assets/images/teams/founder.jpeg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Paviththira Shantharoopan</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Founder</p>
            </div>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-duration="1000">
            <div class=" items-center gap-x-6 text-center">
              <img class=" inline h-50 w-40 rounded-full" src="../../../../assets/images/teams/co-founder.jpeg" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Alexsandar Jesuthasan Dilaksanraj</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">Co-Founder</p>
              </div>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-duration="1000">
            <div class=" items-center gap-x-6 text-center">
              <img class=" inline h-50 w-40 rounded-full" src="../../../../assets/images/teams/tamiliniyan.jpeg" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Shantharoopan Tamiliniyan</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">Co-Founder</p>
              </div>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-duration="1000">
            <div class=" items-center gap-x-6 text-center">
              <img class=" inline h-50 w-40 rounded-full" src="../../../../assets/images/teams/visal.JPG" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Shantharoopan Visalan</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">Co-Founder</p>
              </div>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-duration="1000">
            <div class=" items-center gap-x-6 text-center">
                <img class=" inline h-50 w-40 rounded-full" src="../../../../assets/images/teams/shantharoopan.JPG" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Kanagaratnam Shatharoopan</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">Event Organizer/Project Manager</p>
              </div>
            </div>
          </li>

        <!-- More people... -->
      </ul>
    </div>
  </div>
