.team-center-text {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #e47186;
    font-weight: 500;
    font-family: "Cormorant";
}


.team-info-text {
    text-align: center;
    font-size: 14px;
    color: #e47186;
    font-weight: 300;
    font-family: "JosefinSans";
}

img{
    width:150px
}

h5{
    font-family: 'Cormorant';
    color: #e47186;
    font-weight: 600;
    font-size: 24px;
    text-transform:capitalize;
  }
