<!-- <div class="bg-white pb-24 sm:pb-32">


    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-1 text-center">

        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl pt-6 pb-24 app-color-text font-cursive">Meet our Team</h2>


    </div>
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-1">
      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-4 sm:gap-y-16 xl:col-span-2">
        <li data-aos="fade-up" data-aos-duration="2000">
          <div class=" items-center gap-x-6 text-center" data-aos="fade-up" data-aos-duration="2000">
            <img class=" inline h-50 w-40 rounded-full" src="../../../../assets/images/teams/founder.jpeg" alt="">
            <div>
              <h3 class="text-base font-fantasy leading-7 tracking-tight text-gray-900 font-cursive">Paviththira Shantharoopan</h3>
              <p class="text-sm font-fantasy leading-6 text-indigo-600">Founder</p>
            </div>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-duration="2000">
            <div class=" items-center gap-x-6 text-center" data-aos="fade-up" data-aos-duration="2000">
              <img class=" inline h-50 w-40 rounded-full" src="../../../../assets/images/teams/co-founder.jpeg" alt="">
              <div>
                <h3 class="text-base font-fantasy leading-7 tracking-tight text-gray-900">Alexsandar Jesuthasan Dilaksanraj</h3>
                <p class="text-sm font-fantasy leading-6 text-indigo-600">Co-Founder</p>
              </div>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-duration="2000">
            <div class=" items-center gap-x-6 text-center" data-aos="fade-up" data-aos-duration="2000">
              <img class=" inline h-50 w-40 rounded-full" src="../../../../assets/images/teams/tamiliniyan.jpeg" alt="">
              <div>
                <h3 class="text-base font-fantasy leading-7 tracking-tight text-gray-900">Shantharoopan Tamiliniyan</h3>
                <p class="text-sm font-fantasy leading-6 text-indigo-600">Event Planner / Assistant Desiner</p>
              </div>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-duration="2000">
            <div class=" items-center gap-x-6 text-center" data-aos="fade-up" data-aos-duration="2000">
              <img data-aos="fade-up" data-aos-duration="2000" class=" inline h-50 w-40 rounded-full" src="../../../../assets/images/teams/visal.JPG" alt="">
              <div>
                <h3 class="text-base font-fantasy leading-7 tracking-tight text-gray-900">Shantharoopan Visalan</h3>
                <p class="text-sm font-fantasy leading-6 text-indigo-600">Event Cordinator / Assistant Desiner</p>
              </div>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-duration="2000">
            <div class=" items-center gap-x-6 text-center" data-aos="fade-up" data-aos-duration="2000">
                <img class=" inline h-50 w-40 rounded-full" src="../../../../assets/images/teams/shantharoopan.JPG" alt="">
              <div>
                <h3 class="text-base font-fantasy leading-7 tracking-tight text-gray-900">Kanagaratnam Shatharoopan</h3>
                <p class="text-sm font-fantasy leading-6 text-indigo-600">Event Organizer/Project Manager</p>
              </div>
            </div>
          </li>

      </ul>
    </div>
  </div> -->

<section class="pt-20 pb-48">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-4xl font-semibold">Here are our heroes</h2>
                <p class="text-lg leading-relaxed m-4 text-gray-600">
                    According to the National Oceanic and Atmospheric
                    Administration, Ted, Scambos, NSIDClead scentist, puts the
                    potentially record maximum.
                </p>
            </div>
        </div>
        <div class="flex flex-wrap">
            <!-- <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                <div class="px-6">
                    <img alt="..." src="../../../../assets/images/teams/founder.jpeg"
                        class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
                    <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold">Ryan Tompson</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Web Developer
                        </p>
                        <div class="mt-6">
                            <button
                                class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i></button><button
                                class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-facebook-f"></i></button><button
                                class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-dribbble"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                <div data-aos="zoom-out-right" data-aos-duration="1000" class="px-6">
                    <img alt="..." src="../../../../assets/images/teams/co-founder.jpeg"
                        class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
                    <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold">Alexsandar Jesuthasan Dilaksanraj</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Co-Founder
                        </p>
                        <div class="mt-6">
                            <button
                                class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-google"></i></button><button
                                class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-facebook-f"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                <div data-aos="zoom-out-right" data-aos-duration="1500" class="px-6">
                    <img alt="..." src="../../../../assets/images/teams/tamiliniyan.jpeg"
                        class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
                    <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold">Shantharoopan Tamiliniyan</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Event Planner / Assistant Desiner
                        </p>
                        <div class="mt-6">
                            <button
                                class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-google"></i></button><button
                                class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i></button><button
                                class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-instagram"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                <div data-aos="zoom-out-right" data-aos-duration="2000" class="px-6">
                    <img alt="..." src="../../../../assets/images/teams/visal.JPG"
                        class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
                    <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold">Shantharoopan Visalan</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Event Cordinator / Assistant Desiner
                        </p>
                        <div class="mt-6">
                            <button
                                class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-dribbble"></i></button><button
                                class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-google"></i></button><button
                                class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i></button><button
                                class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-instagram"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                <div data-aos="zoom-out-right" data-aos-duration="2500" class="px-6">
                    <img alt="..." src="../../../../assets/images/teams/shantharoopan.JPG"
                        class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
                    <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold">Kanagaratnam Shatharoopan</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Event Organizer/Project Manager
                        </p>
                        <div class="mt-6">
                            <button
                                class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-dribbble"></i></button><button
                                class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-google"></i></button><button
                                class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i></button><button
                                class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-instagram"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
