:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.app-color-text{
    color: #114542!important;
 }
 .bg-app{
    background-color: #114542;
 }
.bg-pink-rose{
    background-color: #e6c5c6db;
}

.bg-dusty-pink{
    background-color: #e4bbad;
}
